* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Monument Grotesk', sans-serif;
}


/* DarkMode */

nav.dark .toggler {
    background-color: white;
}

nav.dark .ball {
    transform: translateX(24px);
    background-color: black;
}

div.dark .about-title,
div.dark .about-text,
main.dark .main-title,
div.dark .services-title,
footer.dark .footer-title,
footer.dark .info-rights,
footer.dark .info-text,
footer.dark .info-title {
    color: black;
}


/* Navbar */

nav {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: top;
    justify-content: space-between;
    background: transparent;
    padding: 38px 8%;
}

.background li {
    list-style: none;
    cursor: pointer;
}

.nav-icon {
    display: flex;
    align-items: left;
    width: 200px;
    text-decoration: none;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
}

.background {
    min-height: 100vh;
    max-width: 100%;
    background-image: url(./img/test3.gif);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-center {
    display: flex;
}

.navbar-center li {
    color: whitesmoke;
    opacity: 60%;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    list-style: none;
    text-decoration: none;
    padding: 5px 0;
    margin: 0px 30px;
    transition: 200ms ease-in;
    cursor: pointer;
}


#shop.show-text::before {
    content: "Soon";
    display: block;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    margin-left: 70px;
    padding-top: 8px;
    background-color: white;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    text-align: center;
    color: #000000;
}

#shop:hover.show-text::before {
    opacity: 1;
}

.navbar-center li:hover {
    opacity: 100%;
}

nav ul {
    backdrop-filter: blur(18px);
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 540px;
    height: 60px;
    padding: 15px 24px;
    list-style-type: none;
}

ul {
    justify-content: space-around;
    align-items: center;
}


.nav--hidden {
    transform: translateY(-50px);
}


/* Scroll Stuff */

.scroll-down nav {
    transform: translate3d(0, -100%, 0)
}

/* ToggleDarkMode */

.toggler {
    margin-top: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    height: 26px;
    width: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: scale(1.5);
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.25);
}


.ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 200ms linear;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


/* Link Navbar */

.about-enter {
    opacity: 0;
    transform: translateX(100%);
}

.about-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms ease-in-out;
}

.about-exit {
    opacity: 1;
    transform: translateX(0%);
}

.about-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms ease-in-out;
}

/* Background Layer */

body {
    width: 100%;
    height: 100%;
    background: url(./img/layer4.png);
}

body.dark {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(./img/layer3.png);
}

/* About */


.about-title,
.about-text {
    padding-left: 120px;
    margin-left: 180px;
    color: whitesmoke;
}

.about-typed {
    color: rgba(177, 67, 231, 0.9);
}

div.dark .about-typed {
    color: blue;
}

.about h1 {
    padding-top: 200px;
    font-style: italic;
    font-weight: 900;
    font-size: 90px;
    line-height: 50px;
}

.about p {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    width: 700px;
    padding-top: 86px;
    padding-bottom: 58px;
}

button {
    width: 152px;
    height: 49px;
    cursor: pointer;
    border-radius: 6px;
}

.btn-work {
    margin-left: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: white;
    color: black;
    border: 3px solid black;
    transition: 200ms linear;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn-contact {
    margin-left: 39px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: white;
    transition: 200ms linear;
    border: 3px solid black;
    color: black;
    transition: all 0.2s;
    box-shadow: 0 0 0 black;
}

.btn-work:hover,
.btn-contact:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btn-work:active,
.btn-contact:active {
    transform: translate(0, 0);
}



/* Modal Content */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    width: 500px;
    height: 440px;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.modal-content h2 {
    text-align: center;
    margin-top: 30px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    text-align: center;
    transform: scale(1.5);
}

.label-email {
    background-color: white;
    border: 3px solid black;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    margin: 20px;
    font-size: 18px;
    padding: 10px;
}

.label-name {
    background-color: white;
    border: 3px solid black;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
}

.label-message {
    resize: none;
    background-color: white;
    border: 3px solid black;
    border-radius: 4px;
    width: 300px;
    height: 130px;
    font-size: 18px;
    line-height: 1.2;
    padding: 10px;
}

.btn-send {
    background: blue;
    color: white;
    border: none;
    width: 80px;
    text-align: center;
    margin-left: 320px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s linear;
}

.btn-send:hover {
    transform: scale(1.01);
    padding-left: 40px;
    box-shadow: 0 0 4px rgba(32, 39, 241, 0.5);
}


/* Works */


main {
    margin-top: 150px;
    height: 1485px;
}

.main-title {
    margin-top: 500px;
    margin-bottom: 150px;
    font-weight: bold;
    font-size: 10em;
    text-transform: uppercase;
    text-align: center;
    line-height: 121px;
    color: whitesmoke;
}

.grid-container {
    margin-top: 80px;
    margin-bottom: 40px;
    display: grid;
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 2em;
    justify-items: stretch;
    align-items: stretch;
    padding: 20px;
}


.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5 {
    border: none;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: 2px 5px 25px 25px rgba(0, 0, 0, 0.1);
}

.grid-item1 {
    background: url(./img/img_bendejun.png) no-repeat center;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/9;
}

.grid-item1:hover {
    background: url(./img/cdv_bendejun_anim.gif) no-repeat center;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/9;
}


.grid-item2 {
    background: url(./img/img_trame.png) no-repeat center;
    background-size: cover;
    grid-column: 3;
    grid-row: 1/11;
}

.grid-item2:hover {
    background: url(./img/anim_trames.gif) no-repeat center;
    background-size: cover;
    grid-column: 3;
    grid-row: 1/11;
}

.grid-item3 {
    background: url(./img/img_festival.gif) no-repeat center;
    background-size: 100% 1000px;
    grid-column: 2;
    grid-row: 9/18;
}

.grid-item3:hover {
    background: url(./img/anim_festival.gif) no-repeat center;
    background-size: 100% 1000px;
    grid-column: 2;
    grid-row: 9/18;
}

.grid-item4 {
    background: url(./img/ovni.png) no-repeat center;
    background-size: cover;
    grid-column: 1;
    grid-row: 9/18;
}

.grid-item5 {
    background: url(./img/alone.png) no-repeat top;
    background-size: cover;
    grid-column: 3;
    grid-row: 11/18;
}

.grid-item5:hover {
    background: url(./img/alone.png) no-repeat center lightgrey;
    background-size: 70%;
    grid-column: 3;
    grid-row: 11/18;

}


/* All My Works */


.link-work {
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 15px 5px 5px;
    width: auto;
    height: auto;
    font-family: 'GT America Mono', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 999px;
    background-color: white;
    color: #000000;
    transition: 400ms ease-out;
}

.link-work:hover {
    color: white;
    background-color: black;
    border: 2px solid black;
}

.link {
    text-decoration: none;
}

/* Services */


.services-title {
    margin-top: 50rem;
    font-size: 200px;
    text-align: center;
    color: whitesmoke;
}



/* Cards */

.cards-list {
    display: flex;
}

.containers {
    width: 1000px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
}

.card-item {
    margin: 0 10px 20px;
    overflow: hidden;
    border-radius: 28px;
    border: 2px solid black;
    transition: .2s linear;
}

.card-item_link {
    display: block;
    padding-top: 30px;
    background-color: rgba(18, 18, 18, 0.8);
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.card-item_link .card-item_title {
    transition: .2s linear;
}

.card-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-item_link:hover .card-item_bg {
    transform: scale(12);
}

.card-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    z-index: 2;
    position: relative;
    cursor: default;
}

.card-item_bg {
    height: 128px;
    width: 600px;
    z-index: 1;
    position: absolute;
    bottom: -150px;
    transition: all .5s ease;
}

.card img {
    z-index: 2;
    position: absolute;
}

.color_first img {
    width: 260px;
    top: 140px;
    left: 120px;
}

.color_second img {
    width: 340px;
    top: 140px;
    left: 90px;
}

.color_third img {
    width: 500px;
    top: 70px;
    left: 10px;
}

.color_fourth img {
    width: 280px;
    top: 100px;
    left: 120px;
}

.card-item:hover {
    transform: rotate(2deg);
}

.card-item_bg {
    background-color: white;
}

.color_first .card-item_bg {
    background-color: #1401df;
}


.color_second .card-item_bg {
    background-color: #fa75c5;
}

.color_third .card-item_bg {
    background-color: #ea4974;
}

.color_fourth .card-item_bg {
    background-color: #c173f9;
}


@media only screen and (min-width: 1600px) and (max-width: 1920px) {

    .card {
        padding: 0;
    }

    .card-item {
        margin: 0 20px 40px;
        max-width: 400px;
    }

    .card-item_link {
        width: 350px;
        height: 300px;
        padding-top: 20px;
    }

    .card-item_title {
        font-size: 24px;
        min-height: 50px;
    }

    .card-item_bg {
        height: 80px;
        width: 350px;
        bottom: -100px;
    }

    .color_first img {
        width: 180px;
        top: 90px;
        left: 85px;
    }

    .color_second img {
        width: 240px;
        top: 90px;
        left: 65px;
    }

    .color_third img {
        width: 350px;
        top: 50px;
        left: 0;
    }

    .color_fourth img {
        width: 200px;
        top: 70px;
        left: 85px;
    }

}

@media only screen and (max-width: 1600px) {
    .card-item {
        transform: scale(80%);
        margin: 0;
    }

    .cards-list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .cards-list {
        display: flex;
        flex-wrap: wrap;
        left: 200px;
    }

    .card img {
        transform: scale(85%);
    }

    .color_first img {
        top: 140px;
        left: 50px;
    }

    .color_second img {
        top: 140px;
        left: 20px;
    }

    .color_third img {
        top: 110px;
        width: 400px;
        left: 0;
    }

    .color_fourth img {
        top: 100px;
        left: 60px;
    }

    .card-item_link {
        display: flex;
        justify-content: center;
        padding-right: 120px;
    }

    .card-item:hover {
        transform: rotate(0deg);
        transform: scale(90%);
    }

}

/* Button */

@import url(https://use.typekit.net/ztx1wfr.css);

:root {
    --border-w: 0.25rem;
    --border-r: 1em;
    --angle: 130deg;
}

.btn {
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0.05em 0.5em rgba(97, 56, 216, 0.25), 0 0.15em 0.3em -0.1em rgba(156, 28, 218, 0.25),
        inset 0 0 0.05em 0.0333em rgba(177, 67, 231, 0.25), inset 0 0.1em 0.2em 0em rgba(177, 67, 231, 0.25),
        inset 0 0.1em 0.45em rgba(97, 56, 216, 0.25);
    background: linear-gradient(var(--angle), #6138D8 25%, rgba(177, 67, 231, 0.9) 40%, rgba(177, 67, 231, 0.95) 65%,
            #6138D8 85%) no-repeat -1px 50%/300% calc(100% + 2px);
    color: white;
    transition: color 0.3s, background 0.3s, transform 0.75s, background-position 0.5s, box-shadow 0.5s;
    will-change: background-position, transform, box-shadow;
    position: relative;
    border-radius: var(--border-r);
    border: var(--border-w) solid #6138D8;
}

.btn:before,
.btn:after {
    content: "";
    border-radius: inherit;
    position: absolute;
    transition: opacity 0.5s, filter 0.5s;
}

.btn:before {
    inset: calc(var(--border-w) * -1);
    box-shadow: inset 0.0333em 0.0333em 0.2em #ca78e5, inset -0.0666em -0.0666em 0.15em #311879, inset 0.025em 0.025em 0.1em white;
    mix-blend-mode: hard-light;
}

.btn:after {
    inset: 0;
    border-radius: calc(var(--border-r) - var(--border-w));
    box-shadow: -0.05em -0.05em 0.05em #311879, 0.05em 0.05em 0.05em #ca78e5;
    mix-blend-mode: hard-light;
}

.btn:after {
    content: none;
}

.btn:hover,
.btn:focus {
    background-position: calc(100% + 1px) 50%;
    box-shadow: 0 0.15em 1.5em rgba(136, 67, 231, 0.666), 0 0.15em 0.333em -0.1em rgba(156, 28, 218, 0.666), inset 0 0.15em 0.3em -0.1em rgba(177, 67, 231, 0),
        inset 0 0 0.05em 0.0333em rgba(177, 67, 231, 0.25), inset 0 0.1em 0.666em rgba(97, 56, 216, 0.333);
}

/* Footer */


footer {
    margin-top: 194px;
}

.footer-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    color: whitesmoke;
}

.container-btn {
    text-align: center;
    margin-top: 40px;
}

.info {
    margin: 200px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
}

.info-luky {
    text-align: left;
    margin-right: 65px;
}

.info-social {
    text-align: left;
}

.iconCat {
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.info-rights {
    font-weight: 400;
    font-family: 'GT America Trial', sans-serif;
    font-size: 24px;
    line-height: 30px;
    width: 265px;
    color: whitesmoke;
}

.info-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: whitesmoke;
}

.info-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: whitesmoke;
    text-decoration: none;
}


/* See My Work Page */

.seemyworks {
    background: url(./img/layer3.png);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.btn-iconCat {
    background-color: White;
    position: relative;
    margin-top: 200px;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
    box-shadow: 0px 0px 10px rgba(156, 156, 156, 0.4);
}


.seemywork_iconCat {
    width: 70px;
}

.works-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 360px;
}

.works-links_insta,
.works-links_twitter,
.works-links_tiktok {
    font-weight: bold;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0.05em 0.5em rgba(97, 56, 216, 0.25), 0 0.15em 0.3em -0.1em rgba(156, 28, 218, 0.25),
        inset 0 0 0.05em 0.0333em rgba(177, 67, 231, 0.25), inset 0 0.1em 0.2em 0em rgba(177, 67, 231, 0.25),
        inset 0 0.1em 0.45em rgba(97, 56, 216, 0.25);
    background: linear-gradient(var(--angle), #6138D8 25%, rgba(177, 67, 231, 0.9) 40%, rgba(177, 67, 231, 0.95) 65%,
            #6138D8 85%) no-repeat -1px 50%/300% calc(100% + 2px);
    color: white;
    transition: color 0.3s, background 0.3s, transform 0.75s, background-position 0.5s, box-shadow 0.5s;
    will-change: background-position, transform, box-shadow;
    border-radius: var(--border-r);
    border: var(--border-w) solid #6138D8;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
}

.works-links_insta:before,
.works-links_twitter:before,
.works-links_tiktok:before,
.works-links_insta:after,
.works-links_twitter:after,
.works-links_tiktok:after {
    content: "";
    border-radius: inherit;
    position: absolute;
    transition: opacity 0.5s, filter 0.5s;
}

.works-links_insta:before,
.works-links_twitter:before,
.works-links_tiktok:before {
    inset: calc(var(--border-w) * -1);
    box-shadow: inset 0.0333em 0.0333em 0.2em #ca78e5, inset -0.0666em -0.0666em 0.15em #311879, inset 0.025em 0.025em 0.1em white;
    mix-blend-mode: hard-light;
}

.works-links_insta:after,
.works-links_twitter:after,
.works-links_tiktok:after {
    inset: 0;
    border-radius: calc(var(--border-r) - var(--border-w));
    box-shadow: -0.05em -0.05em 0.05em #311879, 0.05em 0.05em 0.05em #ca78e5;
    mix-blend-mode: hard-light;
}

.works-links_insta:after,
.works-links_twitter:after,
.works-links_tiktok:after {
    content: none;
}

.works-links_insta:hover,
.works-links_twitter:hover,
.works-links_tiktok:hover,
.works-links_insta:focus,
.works-links_twitter:focus,
.works-links_tiktok:focus {
    background-position: calc(100% + 1px) 50%;
    box-shadow: 0 0.15em 1.5em rgba(136, 67, 231, 0.666), 0 0.15em 0.333em -0.1em rgba(156, 28, 218, 0.666), inset 0 0.15em 0.3em -0.1em rgba(177, 67, 231, 0),
        inset 0 0 0.05em 0.0333em rgba(177, 67, 231, 0.25), inset 0 0.1em 0.666em rgba(97, 56, 216, 0.333);
}

.backHome {
    width: 400px;
    height: 70px;
    background-color: white;
    border: whitesmoke;
    transition: 0.2s linear;
}

.backHome:hover {
    transform: scale(102%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.fa-House {
    height: 30px;
    margin-top: 10px;
}


/* Responsive */

@media (max-width:1000px) {

    * {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: top;
        justify-content: space-between;
        padding: 38px 8%;
        transition: all 0.3s ease-in-out;
        scroll-behavior: smooth;
    }


    .nav-icon {
        display: flex;
        width: 60%;
    }

    .navbar-center {
        display: none;
    }

    .background {
        background: unset;
        z-index: -1;
        min-height: 10vh;
    }

    #about-section {
        z-index: 2;
    }

    .about h1 {
        font-size: 40px;
        margin: 0;
        padding: 40px 0 0 30px;
    }

    .about p {
        font-size: 24px;
        margin: 0;
        padding: 30px;
        width: 340px;
    }

    .btn-work {
        margin: 50px 0 0 25px;
    }

    main {
        background-color: #000000;
        height: 3000px;
        overflow-y: hidden;
    }

    .main-title {
        margin: 0;
        padding: 0;
        font-size: 60px;
        color: whitesmoke;
    }

    main.dark .main-title {
        color: whitesmoke;
    }

    .grid-container {
        margin-top: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
        justify-items: stretch;
        align-items: stretch;
        padding: 20px;
    }

    .grid-item1,
    .grid-item2,
    .grid-item3,
    .grid-item4,
    .grid-item5 {
        border-radius: 0px;
        font-size: 30px;
        text-align: center;
        box-shadow: none;
    }

    .grid-item1 {
        background: url(./img/cdv_bendejun_anim.gif) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 1/7;
    }

    .grid-item1:hover {
        background: url(./img/img_bendejun.png) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 1/7;
    }


    .grid-item2 {
        background: url(./img/anim_trames.gif) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 7/14;
    }

    .grid-item2:hover {
        background: url(./img/img_trame.png) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 7/14;
    }


    .grid-item3 {
        background: url(./img/anim_festival.gif) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 14/21;
    }

    .grid-item3:hover {
        background: url(./img/img_festival.gif) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 14/21;
    }


    .grid-item4 {
        background: url(./img/ovni.png) no-repeat center;
        background-size: 100%;
        grid-column: 1;
        grid-row: 21/28;
    }

    .grid-item5 {
        background: url(./img/alone.png) no-repeat top;
        background-size: 100%;
        grid-column: 1;
        grid-row: 28/35;
    }

    .grid-item5:hover {
        background: url(./img/alone.png) no-repeat top;
        background-size: 100%;
        grid-column: 1;
        grid-row: 28/35;
    }


    .link-work {
        text-decoration: none;
        padding: 0;
        width: 300px;
        height: auto;
        font-family: 'GT America Mono', sans-serif;
        font-size: 30px;
        font-weight: bold;
        border: 2px solid white;
        border-radius: 999px;
        background-color: white;
        color: black;
        transition: 400ms ease-out;
    }

    .link-work:hover {
        color: black;
        background-color: white;
        border: 2px solid white;
    }


    .services-title {
        margin: 0;
        padding-top: 50px;
        font-size: 60px;
    }


    .info {
        width: 100%;
        margin: 0;
        padding-top: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info-luky,
    .info-social,
    .iconCat {
        display: none;
    }

    .info-rights {
        margin: 10px;
        font-weight: 400;
        font-family: 'GT America Trial', sans-serif;
        font-size: 20px;
        line-height: 30px;
        width: auto;
        color: white;
    }

    .footer-title {
        overflow: hidden;
    }

    .modal {
        transform: scale(60%);
        margin-right: -68px;
    }

    .btn-work,
    .btn-contact {
        transform: scale(80%);
        margin: 0;
    }

    .seemyworks {
        background: url(./img/layer3.png);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-iconCat {
        margin-top: 80px;
    }


    .seemywork_iconCat {
        width: 60px;
    }

    .works-links {
        transform: scale(80%);
        margin-top: 200px;
    }

    .works-links_insta,
    .works-links_twitter,
    .works-links_tiktok {
        overflow: hidden;
    }



}